body{
            background-image: url(kuki.jpg);
            background-repeat: no-repeat;
        }
        .szia{
            background-color: rgb(156, 156, 156);
                display: flex ;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 500px;
                width: 300px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 5%;
                
        }
        label[for="brutto"]{
            position: absolute;
            top: 20px;
            left: 28px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
        }
        input#brutto, select{
            width: 60%;
            padding: 9px;
            margin: 1px;
            display: inline-block;
            border: 1px solid #619ef3;
            border-radius: 9px;
            box-sizing: border-box;   
            transform: translate(-45px, -150px);
            background-color: #cde2ff;
        }
        .gomb{
            border-radius: 5px;
            padding: 7px;
            width: 100px;
            background-color: rgb(2, 106, 24);
            font-family:sans-serif;
            font-size: 15px;
            font-weight: 500;
            transform: translate(-50px, -140px);
            color: white;
        }
        label[for="netto"]{
            position: absolute;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            top: 150px;
            left: 30px;
        }
        input#netto, select {
            display: inline-block;
            box-sizing: border-box;
            background-color: #cde2ff;
            border-radius: 9px;
            border: 1px solid #619ef3;
            padding: 9px;
            transform: translate(-42px, -90px);
        }
        label[for="csillag"]{
            position: absolute;
            color: white;
            top: 400px;
            left: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 10px;
        }