body{
            background-image: url(hatter.jpg);
            background-repeat: no-repeat;
            display: flex;
            justify-content: center; 
            align-items: start;
            margin: 0;
            overflow-x: hidden;
        }
        .szia{
            background-color: rgb(156, 156, 156);
                display: flex ;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 500px;
                width: 300px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 5%;
                
        }
        label[for="brutto"]{
            position: absolute;
            top: 20px;
            left: 28px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
        }
        input#brutto, select{
            width: 60%;
            padding: 9px;
            margin: 1px;
            display: inline-block;
            border: 1px solid #619ef3;
            border-radius: 9px;
            box-sizing: border-box;   
            transform: translate(-45px, -135px);
            background-color: #cde2ff;
        }
        .gomb{
            border-radius: 5px;
            padding: 7px;
            width: 100px;
            background-color: rgb(2, 106, 24);
            font-family:sans-serif;
            font-size: 15px;
            font-weight: 500;
            transform: translate(-50px, -130px);
            color: white;
        }
        label[for="netto"]{
            position: absolute;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            top: 150px;
            left: 30px;
        }
        input#netto, select {
            display: inline-block;
            box-sizing: border-box;
            background-color: #cde2ff;
            border-radius: 9px;
            border: 1px solid #619ef3;
            padding: 9px;
            transform: translate(-42px, -75px);
        }
        label[for="csillag"]{
            position: absolute;
            color: white;
            top: 400px;
            left: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 10px;
        }
        .szjaszoveg{
            display: block;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            font-size: 15px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            transform: translate(-60px, -70px);
            font-weight: 470;
        }
        .szjaszoveg input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .szja {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
            border-radius: 6px;
        }


        .szjaszoveg:hover input ~ .checkmark {
            background-color: #ccc;
        }

        .szjaszoveg input:checked ~ .szja {
            background-color: #2196F3;
        }

        .szja:after {
            content: "";
            position: absolute;
            display: none;
        }

        .szjaszoveg input:checked ~ .szja:after {
            display: block; 
        }

        .szjaszoveg .szja:after {
            left: 6px;
            top: 1px;
            width: 5px;
            height: 12px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .hirdetes1 img{
            position: absolute;
            top: 200px;
            right: 20px;
            height: 300px;
            width: 300px;
            
        }
        @media only screen and (max-width: 768px) {
            .hirdetes1{
            position: absolute;
            top: 0;
            width: 10px;
            }
        }
        
        label[for="torveny"]{
           position: absolute;
            color: white;
            top: 460px;
            left: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 10px; 
        }
        .nyugdijaszoveg{
            display: block;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            font-size: 15px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            transform: translate(-40px, -60px);
            font-weight: 470;
        }
        .nyugdijaszoveg input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .nyugdijas {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
            border-radius: 6px;
        }


        .nyugdijaszoveg:hover input ~ .checkmark {
            background-color: #ccc;
        }

        .nyugdijaszoveg input:checked ~ .nyugdijas {
            background-color: #2196F3;
        }

        .nyugdijas:after {
            content: "";
            position: absolute;
            display: none;
        }

        .nyugdijaszoveg input:checked ~ .nyugdijas:after {
            display: block; 
        }

        .nyugdijaszoveg .nyugdijas:after {
            left: 6px;
            top: 1px;
            width: 5px;
            height: 12px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        