#nagy{
    position: absolute;
    text-align: center;
    transform: translate(600px);
}
.tabla{
    position: absolute;
    transform: translate(0px, 200px);
}
#szoveg{
  position: absolute;
    text-align: center;
    transform: translate(500px, 500px);  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#megjegyzés{
     position: absolute;
    text-align: center;
    transform: translate(500px, 450px);  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.vissza{
    position: absolute;
    transform: translate(0px, 700px);
}
